html {
    box-sizing: border-box;
    font-size: 62.5%;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
}


body {
    font-size: 1.6rem;
    /* font-size 1.6rem is now the same as 16px */
    line-height: 1.6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}

header {
    padding: 50px;
    text-align: center;
}

/* Container for the grid */
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 0; 
    padding: 20px; 
    max-width: 600px;
    margin: 0 auto; 
}

.image-div img {
    width: 100%;
    height: auto;
    display: block;
}

.hidden {
    visibility: hidden;
}

